.header {
    width: 100vw;
    position: fixed;
    z-index: 9;
    top: 0;
    left: 0;
    height: var(--mobile-menu-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 0 15px;
    background-color: var(--menu-background-color);
}

.logoBox {
    display: flex;
    align-items: center;
    justify-content: center;
    height: var(--mobile-menu-height);
}

.logoBox img {
    height: calc(var(--mobile-menu-height) - 6px);
}

.flexLeft, .flexRight {
    width: 120px;
}

.flexLeft{
    justify-content: start;
}

.flexRight{
    justify-content: end;
}

.flexRight.wideMenu{
    gap: 45px
}

.flexRight div {
    color: rgba(255, 255, 255, 0.5);
    font-size: 1rem;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    cursor: pointer;
}

.flexRight div:hover, .flexRight div.selected {
    color: #fff;
}

.flexRight div.selected {
    cursor: default;
}

/* Mobile Menu */
.mobileMenu {
    position: fixed;
    top: -200px;
    width: 100%;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 1rem;
    z-index: 2;
    transition: all ease-in-out 300ms;
    background-color: var(--menu-background-color);
}

.mobileMenu.open{
    top: var(--mobile-menu-height);
    padding: 0 1.5rem 0.8rem 0rem;
    border-top: 2px solid rgba(50, 50, 50, 0.2);
}

.mobileMenu span {
    color: rgba(255, 255, 255, 0.5);
    font-size: 1rem;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    cursor: pointer;
}

.mobileMenu span:hover, .mobileMenu span.selected {
    color: #fff;
}

.mobileMenu span.selected {
    cursor: default;
}

@media screen and (min-width: 576px) {
    
    .header {
        height: calc(var(--mobile-menu-height) + 20px );
        padding: 0 25px;
    }
    
    .logoBox img {
        height: calc(var(--mobile-menu-height) + 4px);
    }
    
    .flexRight > *{
        transform: scale(1.3);
    }

    .mobileMenu.open{
        top: calc(var(--mobile-menu-height) + 20px);
    }
}