.modalBackdrop{
    position: fixed;
    top: var(--mobile-menu-height);
    height: calc(100vh - var(--mobile-menu-height));
    left: 0;
    width: 100vw;
    z-index: 9;
    background-color: black;
    opacity: 0.5;
}

.mobalPage{
    position: fixed;
    z-index: 10;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    width: fit-content;
    left: calc(100vw / 2);
    top: calc(100vh / 2);
    min-width: 300px;
    background-color: #F3F3EE;
    box-shadow: -3px 10px 11px 0 rgba(0, 0, 0, 0.2), inset 1px 0 3px 0 rgba(255, 255, 255, 0.5);
}

.modalHeader {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px;
    flex-wrap: nowrap;
}

.headerRight{
    border-radius: 50%;
}

.headerRight button{
    border-radius: 50%;
    width: 25px;
    height: 25px;
    background-color: red;
    color: #fff;
}

.headerRight button:hover {
    color: black;
    background-color: darkred;
}

@media screen and (min-width: 576px) {
    .modalBackdrop{
        top: calc(var(--mobile-menu-height ) + 20px);
        height: calc(100vh - var(--mobile-menu-height) - 20px);
    }
}